@font-face {
    font-family: fa;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
*{
    font-family: roboto;
    src:url(./fonts/Roboto/Roboto-Thin.ttf);
}
body{
    margin:0;
    padding:0;
    overflow:auto;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: red;
    color: white;
}
::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
.header{
    height:12vh;
    border:1px solid green;
    display: flex;
    flex-direction: row;
    background-color: #273227;
}
.menu{
    border: 1px solid red;
    width: 20vw;
    display: flex;
}
.main{
    border: 1px solid red;
    width: 80%;
}
.menu-box{
    position:absolute;
    top: 0px;
    height: 100%;
    width: 100vw;
    transform: translateX(-105vw);
    transform-origin:0,0;
    background-color: black;
    opacity: 0.7;
    transition: 0.7s ease-in-out;
}
.menu-icon{
    position: absolute;
  z-index: 1;
  top: 4vh;
  left: 4vw;
  /* padding-bottom: 0vh; */
  border:1px solid red;
}
.menu-icon span{
    background-color:white;
    width: 30px;
    height: 3px;
    z-index: 1;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
}
.check{
    position: absolute;
    z-index: 2;
    top: 2vh;
    left: 0.5vw;
    width: 9vw;
    opacity: 00;
    height: 6vh;
}

#menu:checked ~ .menu-box {
    left: -5vh;
    transform: translateX(-5vw);
}
#menu:checked ~ .menu-icon span:nth-of-type(2) {
    transform: translate(0,250%) rotate(-45deg);
}
#menu:checked ~ .menu-icon span:nth-of-type(3) {
    transform: rotate(45deg);
}
#menu:checked ~ .menu-icon span:nth-of-type(1) {
    opacity: 0;
}
#menu:checked ~ .menu-icon span:nth-of-type(4) {
    opacity: 0;
}
.logo{
    border: 1px solid red;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}
.searchbar{
    width:60vw;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inputbar{
    border: 1px solid white;
    width: 100%;
    text-align: center;
}
.inputbar input{
    width: 600px;
    height: 6vh;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
.inputbar i{
    position: absolute;
    left: 520px;
    top: 34px;
}

.profile{
    border: 1px solid red;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.name{
    /* border: 1px solid red; */
    border-radius: 20px;
    color: white;
    background-color: #59815b;
    width: 130px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#name:hover .tool{
    width: 180px;
    display: block;
}
.tool ul li{
    list-style-type: none;
    line-height: 30px;
}
.tool{
    /* border: 1px solid red; */
    width: 190px;
    text-align: left;
    color: white;
    background-color: #59815b;
    display: none;
    position: absolute;
    top: 69px;
    right: 69px;
}
.parent{
    border: 1px solid red;
    width: 90%;
    margin: 30px auto;
    /* background-color: red; */
}
.p{
    width: 90%;
    padding: 10px;
    margin: 4px auto;
    border: 1px solid red;
}
.links{
    border: 1px solid red;
    height: 30px;
    margin: 4px auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.twitter{
    background-color:rgb(29, 161, 242);
    /* border-radius: 10px; */
    padding: 4px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.twitter img{
    width: 15px;
    height: 15px;
}
.twitter:hover{
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.facebook{
    background-color:rgb(59, 89, 152);;
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.facebook img{
    width: 15px;
    height: 15px;
}
.facebook:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.whatsapp{
    background-color:rgb(77, 194, 71);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.whatsapp img{
    width: 15px;
    height: 15px;
}
.whatsapp:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.pint{
    background-color:rgb(203, 32, 39);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.pint img{
    width: 15px;
    height: 15px;
}
.pint:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.telegram{
    background-color:rgb(0, 136, 204);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.telegram img{
    width: 15px;
    height: 15px;
}
.telegram:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.email{
    background-color:rgb(132, 132, 132);
    /* border-radius: 10px; */
    padding: 4px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.email img{
    width: 15px;
    height: 15px;
}
.email:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.more{
    background-color:rgb(255, 101, 80);
    /* border-radius: 10px; */
    padding: 4px;
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.more img{
    width: 15px;
    height: 15px;
}
.more:hover .none{
    display: block;
    
}
.none{
    /* border: 1px solid red; */
    position: absolute;
    top: 288px;
    right: 439px;
    height: 130px;
    /* height: 120px; */
    width: 128px;
    display: none;
    background-color: #273227;
}
.none a{
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
    /* width: 100px; */

}
.none a:hover{

    color:#59815b;
}
.list-item1:hover{
    background-color:#273227;
    color: white;
}
.list-item2:hover{
    background-color:#273227;
    color: white;
}
.list-item3:hover{
    background-color:#273227;
    color: white;
}
.list-item4:hover{
    background-color:#273227;
    color: white;
}
.list-item5:hover{
    background-color:#273227;
    color: white;
}
.list-item6:hover{
    background-color:#273227;
    color: white;
}
.list-item1{
    /* border: 1px solid red; */
    width: 127px;
    /* margin: 0 auto; */
    /* height: 20px; */
    display: flex;
    margin: 5px auto;
    background-color: #273227;

    /* justify-content: space-evenly; */
     position: absolute;
    top: 1px;
    right: 0px;
}
.list-item2{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;

    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 20px;
    right: 0px; 
}
.list-item3{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;


    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 40px;
    right: 0px; 
}
.list-item4{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 60px;
    right: 0px; 
}
.list-item5{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 80px;
    right: 0px; 
}
.list-item6{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 100px;
    right: 0px; 
}
.feature{
    border: 1px solid red;
    color: #59815b;
}
.feature h2{
    padding: 6px;
    /* border: 1px solid red; */
    /* background-color: red; */
}
.carosel{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.img1{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
 
.img2{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img3{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img4{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img5{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img1 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;
    
} 
.img2 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;
    
} 
.img3 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;

    
} 
.img4 img{
    /* width: 265px; */
    width: 269.90px;
    height: 350px;
    border-radius: 6px;
    
} 
.img5 img{
    width: 269.90px;
    height: 350px;
    border-radius: 6px;
    
}

.icon1{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon1 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon1:hover{
    cursor: pointer;
}
.img1:hover .icon1 i{
    visibility: visible;

}
.img1:hover .icon1{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon2{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 374px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon2 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon2:hover{
    cursor: pointer;
}
.img2:hover .icon2 i{
    visibility: visible;

}
.img2:hover .icon2{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon3{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 660px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon3 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon3:hover{
    cursor: pointer;
}
.img3:hover .icon3 i{
    visibility: visible;

}
.img3:hover .icon3{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon4{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 946px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon4 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon4:hover{
    cursor: pointer;
}
.img4:hover .icon4 i{
    visibility: visible;

}
.img4:hover .icon4{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon5{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 1232px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon5 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon5:hover{
    cursor: pointer;
}
.img5:hover .icon5 i{
    visibility: visible;

}
.img5:hover .icon5{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}





















.iconleft{
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius:100px;
    background-color:rgba(255, 255, 255,0.6);
    position: absolute;
    top: 520px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 2px 4px lightgray;

}
.iconleft:hover{
    background-color: lightgray;
    cursor: pointer;
}

.iconright{
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius:100px;
    background-color:white;
    position: absolute;
    top: 520px;
    left: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px lightgray;
}
.iconright:hover{
    background-color: lightgray;
    cursor: pointer;
}