@font-face {
    font-family: fa;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family:roboto ;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
*{
    font-family: roboto;
    src:url(./fonts/Roboto/Roboto-Thin.ttf);
}
body{
    margin:0;
    padding:0;
    overflow:auto;
    background-color: #f3f0eb;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: red;
    color: white;
}
::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
.header{
    height:12vh;
    border:1px solid green;
    display: flex;
    flex-direction: row;
    background-color: #273227;
}
.menu{
    border: 1px solid red;
    width: 20vw;
    display: flex;
}
.main{
    border: 1px solid red;
    width: 80%;
}
.menubox-list{
    /* background-color: red; */
    width: 263px;
    margin-top:100px;
    margin-left: 120px;

}
.menubox-list li{
    list-style: none;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid lightgray;
    width: 222px;
}
.menubox-list a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.menubox-list a:hover{
    cursor: pointer;
}
.menu-box{
    position:absolute;
    top: 0px;
    height: 100%;
    /* z-index: 1; */
    width: 29vw;
    transform: translateX(-105vw);
    transform-origin:0,0;
    background-color:rgba(0, 0, 0,0.9);
    transition: 0.7s ease-in-out;
    overflow-y:scroll;


}


.menu-icon{
    position: absolute;
  z-index: 1;
  top: 4vh;
  left: 4vw;
  /* padding-bottom: 0vh; */
  border:1px solid red;
}
.menu-icon span{
    background-color:white;
    width: 30px;
    height: 3px;
    z-index: 1;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
    
}
.check{
    position: absolute;
    z-index: 2;
    top: 2vh;
    left: 0.5vw;
    width: 9vw;
    opacity: 00;
    height: 6vh;
    /* background-color: red; */
}
#menu:checked ~ .menu-box {
    left: -5vh;
    transform: translateX(-5vw);
    position: fixed;
    top:0px;
    left: -5vh;
    
}
#menu:checked ~ .menu-icon span:nth-of-type(2) {
    position: fixed;
    top: 4vh;
    left: 9vh;
    transform: translate(0,10%) rotate(-45deg);
}
#menu:checked ~ .menu-icon span:nth-of-type(3) {
    position: fixed;
    top: 4vh;
    left: 9vh;
    transform: rotate(45deg);
}
#menu:checked ~ .menu-icon span:nth-of-type(1) {
    opacity: 0;
}
#menu:checked ~ .menu-icon span:nth-of-type(4) {
    opacity: 0;
}
.genre-list{
    display: none;
}
#genre:hover .genre-list{
    display: block;
}
.genre{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* padding: 10px; */
    justify-content: space-around;
}
.left{
    display: block;
}
.right{
    display: block;
}
.country-list{
    display: none;
}
#country:hover .country-list{
    display: block;
}
.country{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* padding: 10px; */
    justify-content: space-around;
}
.left2{
    display: block;
}
.right2{
    display: block;
}
.logo{
    border: 1px solid red;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40px;
    height: 40px;
}
.searchbar{
    width:60vw;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.inputbar{
    border: 1px solid white;
    width: 100%;
    text-align: center;
}
.inputbar input{
    width: 600px;
    height: 6vh;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
.inputbar i{
    position: absolute;
    left: 520px;
    top: 34px;
}

.profile{
    border: 1px solid red;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.name{
    /* border: 1px solid red; */
    border-radius: 20px;
    color: white;
    background-color: #59815b;
    width: 130px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#name:hover .tool{
    width: 180px;
    display: block;
}
.tool ul li{
    list-style-type: none;
    line-height: 30px;
}
.tool{
    /* border: 1px solid red; */
    width: 190px;
    text-align: left;
    color: white;
    background-color: #59815b;
    display: none;
    position: absolute;
    top: 69px;
    right: 69px;
}
.parent{
    border: 1px solid red;
    width: 90%;
    margin: 30px auto;
    /* background-color: red; */
}
.p{
    width: 90%;
    padding: 10px;
    margin: 4px auto;
    border: 1px solid red;
}
.links{
    border: 1px solid red;
    height: 30px;
    margin: 4px auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.twitter{
    background-color:rgb(29, 161, 242);
    /* border-radius: 10px; */
    padding: 4px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.twitter img{
    width: 15px;
    height: 15px;
}
.twitter:hover{
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.facebook{
    background-color:rgb(59, 89, 152);;
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.facebook img{
    width: 15px;
    height: 15px;
}
.facebook:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.whatsapp{
    background-color:rgb(77, 194, 71);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.whatsapp img{
    width: 15px;
    height: 15px;
}
.whatsapp:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.pint{
    background-color:rgb(203, 32, 39);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.pint img{
    width: 15px;
    height: 15px;
}
.pint:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.telegram{
    background-color:rgb(0, 136, 204);
    /* border-radius: 10px; */
    padding: 4px;
    width: 85px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.telegram img{
    width: 15px;
    height: 15px;
}
.telegram:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.email{
    background-color:rgb(132, 132, 132);
    /* border-radius: 10px; */
    padding: 4px;
    width: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.email img{
    width: 15px;
    height: 15px;
}
.email:hover{
    /* margin-bottom: 4px; */
    margin-bottom: 7px;
    transition: 0.3s all ease;
}
.more{
    background-color:rgb(255, 101, 80);
    /* border-radius: 10px; */
    padding: 4px;
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.more img{
    width: 15px;
    height: 15px;
}
.more:hover .none{
    display: block;
    
}
.none{
    /* border: 1px solid red; */
    position: absolute;
    top: 288px;
    right: 439px;
    height: 130px;
    /* height: 120px; */
    width: 128px;
    display: none;
    background-color: #273227;
}
.none a{
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
    /* width: 100px; */

}
.none a:hover{

    color:#59815b;
}
.list-item1:hover{
    background-color:#273227;
    color: white;
}
.list-item2:hover{
    background-color:#273227;
    color: white;
}
.list-item3:hover{
    background-color:#273227;
    color: white;
}
.list-item4:hover{
    background-color:#273227;
    color: white;
}
.list-item5:hover{
    background-color:#273227;
    color: white;
}
.list-item6:hover{
    background-color:#273227;
    color: white;
}
.list-item1{
    /* border: 1px solid red; */
    width: 127px;
    /* margin: 0 auto; */
    /* height: 20px; */
    display: flex;
    margin: 5px auto;
    background-color: #273227;

    /* justify-content: space-evenly; */
     position: absolute;
    top: 1px;
    right: 0px;
}
.list-item2{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;

    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 20px;
    right: 0px; 
}
.list-item3{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;


    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 40px;
    right: 0px; 
}
.list-item4{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 60px;
    right: 0px; 
}
.list-item5{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 80px;
    right: 0px; 
}
.list-item6{
    /* border: 1px solid red; */
    width: 127px;
    /* height: 20px; */
    margin: 5px auto;
    background-color: #273227;
    display: flex;
    /* justify-content: space-evenly; */
     position: absolute;
    top: 100px;
    right: 0px; 
}
.feature{
    border: 1px solid red;
    color: #59815b;
}
.feature h2{
    padding: 6px;
    /* border: 1px solid red; */
    /* background-color: red; */
}
.carosel{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.img1{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
 
.img2{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img3{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img4{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img5{
    /* border: 1px solid red; */
    height: 350px;
    width: 270px;
    margin: 7px;
    /* border-radius: 4px; */
}
.img1 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;
    
} 
.img2 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;
    
} 
.img3 img{
    /* width: 265px; */
    height: 350px;
    border-radius: 6px;
    width: 269.90px;

    
} 
.img4 img{
    /* width: 265px; */
    width: 269.90px;
    height: 350px;
    border-radius: 6px;
    
} 
.img5 img{
    width: 269.90px;
    height: 350px;
    border-radius: 6px;
    
}

.icon1{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon1 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon1:hover{
    cursor: pointer;
}
.img1:hover .icon1 i{
    visibility: visible;

}
.img1:hover .icon1{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon2{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 374px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon2 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon2:hover{
    cursor: pointer;
}
.img2:hover .icon2 i{
    visibility: visible;

}
.img2:hover .icon2{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon3{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 660px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon3 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon3:hover{
    cursor: pointer;
}
.img3:hover .icon3 i{
    visibility: visible;

}
.img3:hover .icon3{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icon4{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 946px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon4 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon4:hover{
    cursor: pointer;
}
.img4:hover .icon4 i{
    visibility: visible;

}
.img4:hover .icon4{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon5{
    /* border: 1px solid red; */
    width: 269.90px;
    height: 350px;
    position: absolute;
    top: 389px;
    left: 1232px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}
.icon5 i{
    color: #59815b;
    font-size:69px;
    visibility: hidden;

}
.icon5:hover{
    cursor: pointer;
}
.img5:hover .icon5 i{
    visibility: visible;

}
.img5:hover .icon5{
    /* opacity: 0.3; */
    display: block;
    background-color:rgba(0, 0, 0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iconleft{
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius:100px;
    background-color:rgba(255, 255, 255,0.6);
    position: absolute;
    top: 520px;
    z-index: -1;
    left: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 2px 4px lightgray;

}
.iconleft:hover{
    background-color: lightgray;
    cursor: pointer;
}

.iconright{
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius:100px;
    background-color:white;
    position: absolute;
    top: 520px;
    left: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px lightgray;
}
.iconright:hover{
    background-color: lightgray;
    cursor: pointer;
}
.names{
    display: flex;
}
#year{
    margin-left: 20px;
    /* col */
    font-size: 14px;
    color: gray;
}
.title1{
    border: 1px solid red;
    /* display: block; */
    height: 60px;
    width: 340px;
    margin: 4px;
    text-indent: 8px;
    /* padding: 6px; */
}
.title1 button{
    background-color: #59815b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}

.title2{
    border: 1px solid red;
    /* display: block; */
    height: 60px;
    width: 340px;
    margin: 4px;
    text-indent: 8px;
    /* padding: 6px; */
}
.title2 button{
    background-color: #59815b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}

.title3{
    border: 1px solid red;
    /* display: block; */
    height: 60px;
    width: 340px;
    margin: 4px;
    text-indent: 8px;
    /* padding: 6px; */
}
.title3 button{
    background-color: #59815b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}
.title4{
    border: 1px solid red;
    /* display: block; */
    height: 60px;
    width: 340px;
    margin: 4px;
    text-indent: 8px;
    /* padding: 6px; */
}
.title4 button{
    background-color: #59815b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}
.title5{
    border: 1px solid red;
    /* display: block; */
    height: 60px;
    width: 340px;
    margin: 4px;
    text-indent: 8px;
    /* padding: 6px; */
}
.title5 button{
    background-color: #59815b;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
}
.movies-list{
    border: 1px solid red;
    width:100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.left-list{
    border: 1px solid red;
    width: 75%;
    /* height: 100px; */
    margin: 4px;
    /* display: flex;
    flex-direction: row; */
}
.trending1{
    display: flex;
    border: 1px solid red;
    height: 50px;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}
.trending{
    /* border: 1px solid red; */
    height: 40px;
    margin: 10px;
    width: 110px;
    color: #59815b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.movies{
    /* border: 1px solid red; */
    height: 40px;
    margin: 10px;
    width: 110px;
    color: white;
    background-color: #59815b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.tv-shows{
    border: 1px solid lightgray;
    height: 40px;
    margin: 10px;
    width: 110px;
    color:black;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-list{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.trending-list2{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.trending-list3{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.trending-list4{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
/* .trending-list5{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
}
.trending-list6{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
} */
.movie1{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie1 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none1{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
}
.none1 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie1:hover .none1{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie1:hover .none1>i{
    visibility: visible;
    cursor: pointer;

}
.movie1part1{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie1part1 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none1part1{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    left: 90px;
    top: 1175px;
}
.none1part1 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie1part1:hover .none1part1{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie1part1:hover .none1part1>i{
    visibility: visible;
    cursor: pointer;

}
.movie1part1l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie1part1l3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none1part1l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    left: 90px;
    top: 1459px;
}
.none1part1l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie1part1l3:hover .none1part1l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie1part1l3:hover .none1part1l3>i{
    visibility: visible;
    cursor: pointer;

}
.movie1part1l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie1part1l4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none1part1l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    /* left: 90px; */
    top: 1741px;
}
.none1part1l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie1part1l4:hover .none1part1l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie1part1l4:hover .none1part1l4>i{
    visibility: visible;
    cursor: pointer;

}
.movie2{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie2 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none2{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
    left: 268px;
}
.none2 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie2:hover .none2{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie2:hover .none2>i{
    visibility: visible;
    cursor: pointer;

}
.movie2part2{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie2part2 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none2part2{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1175px;
    /* left: 262px; */
}
.none2part2 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie2part2:hover .none2part2{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie2part2:hover .none2part2>i{
    visibility: visible;
    cursor: pointer;

}
.movie2part2l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie2part2l3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none2part2l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1459px;
    /* left: 262px; */
}
.none2part2l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie2part2l3:hover .none2part2l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie2part2l3:hover .none2part2l3>i{
    visibility: visible;
    cursor: pointer;

}
.movie2part2l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie2part2l4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none2part2l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1741px;
    /* left: 262px; */
}
.none2part2l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie2part2l4:hover .none2part2l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie2part2l4:hover .none2part2l4>i{
    visibility: visible;
    cursor: pointer;

}
.movie3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
    left: 445px;
}
.none3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie3:hover .none3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie3:hover .none3>i{
    visibility: visible;
    cursor: pointer;

}
.movie3part3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie3part3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none3part3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1175px;
    /* left: 431px; */
}
.none3part3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie3part3:hover .none3part3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie3part3:hover .none3part3>i{
    visibility: visible;
    cursor: pointer;

}
.movie3part3l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie3part3l3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none3part3l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1459px;
    /* left: 431px; */
}
.none3part3l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie3part3l3:hover .none3part3l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie3part3l3:hover .none3part3l3>i{
    visibility: visible;
    cursor: pointer;

}
.movie3part3l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie3part3l4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none3part3l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1741px;
    /* left: 431px; */
}
.none3part3l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie3part3l4:hover .none3part3l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie3part3l4:hover .none3part3l4>i{
    visibility: visible;
    cursor: pointer;

}


.movie4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
}
.none4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie4:hover .none4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie4:hover .none4>i{
    visibility: visible;
    cursor: pointer;
}
.movie4part4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie4part4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none4part4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1175px;
}
.none4part4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie4part4:hover .none4part4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie4part4:hover .none4part4>i{
    visibility: visible;
    cursor: pointer;
}
.movie4part4l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie4part4l3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none4part4l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1459px;
}
.none4part4l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie4part4l3:hover .none4part4l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie4part4l3:hover .none4part4l3>i{
    visibility: visible;
    cursor: pointer;
}
.movie4part4l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie4part4l4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none4part4l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1741px;
}
.none4part4l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie4part4l4:hover .none4part4l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie4part4l4:hover .none4part4l4>i{
    visibility: visible;
    cursor: pointer;
}
.movie5{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie5 img {
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none5{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
}
.none5 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie5:hover .none5{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie5:hover .none5>i{
    visibility: visible;
    cursor: pointer;

}
.movie5part5{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie5part5 img {
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none5part5{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1175px;
}
.none5part5 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie5part5:hover .none5part5{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie5part5:hover .none5part5>i{
    visibility: visible;
    cursor: pointer;

}
.movie5part5l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie5part5l3 img {
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none5part5l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1459px;
}
.none5part5l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie5part5l3:hover .none5part5l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie5part5l3:hover .none5part5l3>i{
    visibility: visible;
    cursor: pointer;

}
.movie5part5l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie5part5l4 img {
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none5part5l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1741px;
}
.none5part5l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie5part5l4:hover .none5part5l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie5part5l4:hover .none5part5l4>i{
    visibility: visible;
    cursor: pointer;

}
.movie6{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie6 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none6{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 890px;
}
.none6 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie6:hover .none6{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie6:hover .none6>i{
    visibility: visible;
    cursor: pointer;

}
.movie6part6{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie6part6 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none6part6{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1175px;
}
.none6part6 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie6part6:hover .none6part6{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie6part6:hover .none6part6>i{
    visibility: visible;
    cursor: pointer;

}
.movie6part6l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie6part6l3 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none6part6l3{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1459px;
}
.none6part6l3 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie6part6l3:hover .none6part6l3{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie6part6l3:hover .none6part6l3>i{
    visibility: visible;
    cursor: pointer;

}
.movie6part6l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    margin: 4px;
    border-radius: 4px;
}
.movie6part6l4 img{
    height: 200px;
    width: 160px;
    border-radius: 4px;
}
.none6part6l4{
    border: 1px solid red;
    height: 200px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items:center ;
    display: none;
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 1741px;
}
.none6part6l4 i{
    font-size: 60px;
    color: #59815b;
    visibility: hidden;
}
.movie6part6l4:hover .none6part6l4{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie6part6l4:hover .none6part6l4>i{
    visibility: visible;
    cursor: pointer;

}
.titlepart2{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px; 
    /* justify-content: center; */
    /* align-items: center; */
}
.titleone{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleone button{
    background-color: #59815b;
    color: white;
    border: none;
}
.titletwo{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titletwo button{
    background-color: #59815b;
    color: white;
    border: none;
}
.titlethree{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlethree button{
    background-color: #59815b;
    color: white;
    border: none;
}
.titlefour{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlefour button{
    background-color: #59815b;
    color: white;
    border: none;
}
.titlefive{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlefive button{
    background-color: #59815b;
    color: white;
    border: none;
}
.titlesix{
    border: 1px solid red;
    height: 40px;
    width:160px;
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlesix button{
    background-color: #59815b;
    color: white;
    border: none;
}
.right-list{
    border: 1px solid red;
    /* background-color: red; */
    width: 25%;
    /* height: 100px; */
    /* background-color: red; */
    margin: 4px;
    display: block;
    flex-direction: row;

}
.imdb{
    border: 1px solid red;
    color: #59815b;
    padding: 6px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 2%;
}

.info{
    border: 1px solid red;
    display: flex;
    margin-top: 4px;
   
}
.rightmovie1{
    border: 1px solid red;
    width: 40%;
}
.rightmovie1 img:hover{
    cursor: pointer;
}
.rightmovie1 img{
    width: 124px;
    height: 190px;
    border: 1px solid red;
    /* padding: 4px; */
    border-radius: 4px;
}
.rightmoviename{
    width: 70%;
    border: 1px solid red;
    /* height: 10%; */
    /* margin-top: 140px; */
    
}
.rightmoviename li {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    /* margin-top: 20px; */
}
.rightmoviename button{
    background-color: #59815b;
    color: white;
    border: none;
    margin-right: 4px;
}
#yellow{
    color: rgb(237, 169, 0);
}
.footer footer{
    background-color:  #181818;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.play{
    border: 1px solid red;
    width: 20vw;
    text-align: center;
    padding-top: 50px;
    /* vertical-align:bottom; */
    /* padding: px; */
    /* background-color: red; */
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.play i{
    font-size: 46px;
    color: #59815b;
}
#copy{
    color: lightgray;
    
}
.discription{
    border: 1px solid red;
    width: 60vw;
    text-align: center;
    color: lightgray;
    /* text-align: justify; */
    /* background-color: red; */
    /* display:flex; */
    /* justify-content: center;align-self; */
    /* align-items: center/; */
}
.discription li{
    list-style: none;
    padding-left: 50px;
    color: white;
    display: inline;

}
.warning{
    border: 1px solid red;
    width: 20vw;
    /* background-color: red; */
    display:flex;
    justify-content: center;align-self;
    align-items: center;
}
.warn{
    border:1px solid lightgray;
    width: 94%;
    color: #f3f0eb;
    /* background-color: red; */
}
/* navigationbar start here */
@media screen and (max-width:1200px){
    .inputbar>i {
        position: absolute;
        left: 320px;
        top:36px;
    }
    .menu-box{
        width: 400px;
    }
    #menu{
        opacity: 100;
        position: absolute;
        top: 2vh;
        left:2vh ;
    }
    
}
@media screen and (max-width:1024px){
    .inputbar>i {
        position: absolute;
        left: 220px;
        top:36px;
    }
    #menu{
        opacity: 100;
        position: absolute;
        top: 2vh;
        left:3vh ;
    } 

}
@media screen and (max-width:800px){
    .inputbar>i {
        position: absolute;
        left: 170px;
        top:36px;
    }
    .searchbar input{
        width: 100%;
    }
    .searchbar{
        width: 100%;
    }
    .logo{
        display: none;
    }
    #menu{
        opacity: 100;
        position: absolute;
        top: 2vh;
        left:4.5vh ;
    }

    
}
@media screen and (max-width:768px){
    .inputbar>i {
        position: absolute;
        left: 120px;
        top:36px;
    }    
    .menu-icon{
        position: absolute;
        left: 6.5vh;
        top: 4vh;
    }
}
@media screen and (max-width:600px){
    .inputbar>i {
        position: absolute;
        left: 100px;
        top:36px;
    }    
    #menu{
            opacity: 00;
            position: absolute;
            top: 2vh;
            left:4.5vh ;        
    }
    .menu-icon{
        position: absolute;
        left: 5vh;
        top: 4vh;
    }
}
@media screen and (max-width:500px) {
    .menu-icon{
        position: absolute;
        left: 4vh;
        top: 4vh;
    }
    
}

@media screen and (max-width:480px){
    .inputbar>i {
        position: absolute;
        left: 90px;
        top:36px;
    }
    #menu{
        opacity: 100;
        position: absolute;
        top: 2vh;
        left:5vh ;
    }    
}
@media screen and (max-width:360px){
    .inputbar>i {
        position: absolute;
        left: 70px;
        top:36px;
    } 
    .profile{
        display: none;
    }   
    #menu{
        opacity: 100;
        position: absolute;
        top: 2vh;
        left:3.2vh;
    }
    .menu-box{
        transform: translateX(-200vw);
    }
}
/* navigation bar end here */
/* container links starts here */
@media screen and (max-width:1349px) {
    .links{
        width: 60%;
    }
    .none{
        position: absolute;
        top:311px;
        right: 307px;
        /* display: block; */
    }
    
}
@media screen and (max-width:1200px) {
    .links{
        width: 66%;
    }
    .none{
        position: absolute;
        top:311px;
        right: 240px;
        /* display: block; */
    }
    
}
@media screen and (max-width:1024px) {
    .links{
        width: 75%;
    }
    .none{
        position: absolute;
        top:331px;
        right: 164px;
        /* display: block; */
    }
    
}
 @media screen and (max-width:768px) {
    .links{
        width: 100%;
    }
    .more{
        display: none;
    }
    
}
@media screen and (max-width:768px) {
    .links{
        display: none;
    }   
}

/* . links container end here */
/* . carosel starts here */
@media screen and (max-width:1349px) {
    .img1 img{
        width: 222px;
    }
    .icon1{
        width: 222px;
        position: absolute;
        left: 75px;
        top: 372px;
    }
    .img2 img{
        width: 222px;
    }
    .icon2{
        width: 222px;
        position: absolute;
        left: 317px;
        top: 373px;
    }
    .img3 img{
        width: 222px;
    }
    .icon3{
        width: 222px;
        position: absolute;
        left: 557px;
        top: 372px;
    }
    .img4 img{
        width: 222px;
    }
    .icon4{
        width: 222px;
        position: absolute;
        left: 798px;
        top: 372px;
    }
    .img5 img{
        width: 222px;
    }
    .icon5{
        width: 222px;
        position: absolute;
        left: 1037px;
        top: 372px;
    }
    .title1{
        width: 26%;
    }
    .title2{
        width: 26%;
    }
    .title3{
        width: 26%;
    }
    .title4{
        width: 26%;
    }
    .title5{
        width: 26%;
    }
    .iconright{
        position: absolute;
        top: 530px;
        left: 1250px;
        /* background-color: red; */
    }

}
@media screen and (max-width:1200px) {
    .img1 img{
        width: 200px;
    }
    .icon1{
        width: 200px;
        position: absolute;
        left: 68px;
        top: 372px;
    }
    .img2 img{
        width: 200px;
    }
    .icon2{
        width: 200px;
        position: absolute;
        left: 280px;
        top: 373px;
    }
    .img3 img{
        width: 200px;
    }
    .icon3{
        width: 200px;
        position: absolute;
        left: 495px;
        top: 372px;
    }
    .img4 img{
        width: 200px;
    }
    .icon4{
        width: 200px;
        position: absolute;
        left: 710px;
        top: 372px;
    }
    .img5 img{
        width: 200px;
    }
    .icon5{
        width: 200px;
        position: absolute;
        left: 922px;
        top: 372px;
    }
    .title1{
        width: 25%;
    }
    .title2{
        width: 25%;
    }
    .title3{
        width: 25%;
    }
    .title4{
        width: 25%;
    }
    .title5{
        width: 25%;
    }
    .iconright{
        position: absolute;
        top: 530px;
        left: 1110px;
        /* background-color: red; */
    }

}
@media screen and (max-width:1024px) {
    .img1 img{
        width: 168px;
    }
    .icon1{
        width: 168px;
        position: absolute;
        left: 60px;
        top: 392px;
    }
    .img2 img{
        width: 168px;
    }
    .icon2{
        width: 168px;
        position: absolute;
        left: 240px;
        top: 392px;
    }
    .img3 img{
        width: 168px;
    }
    .icon3{
        width: 168px;
        position: absolute;
        left: 421px;
        top: 392px;
    }
    .img4 img{
        width: 168px;
    }
    .icon4{
        width: 168px;
        position: absolute;
        left: 603px;
        top: 392px;
    }
    .img5 img{
        width: 168px;
    }
    .icon5{
        width: 168px;
        position: absolute;
        left: 785px;
        top: 392px;
    }
    .title1{
        width: 26%;
    }
    .title2{
        width: 26%;
    }
    .title3{
        width: 26%;
    }
    .title4{
        width: 26%;
    }
    .title5{
        width: 26%;
    }
    .iconright{
        position: absolute;
        top: 530px;
        left: 1250px;
        /* background-color: red; */
    }

}
@media screen and (max-width:768px) {
    .carosel{
        display: none;
    }
   
    .title1{
        width: 26%;
        display: none;

    }
    .title2{
        width: 26%;
        display: none;

    }
    .title3{
        width: 26%;
        display: none;

    }
    .title4{
        width: 26%;
        display: none;

    }
    .title5{
        width: 26%;
        display: none;

    }
    .iconright{
        position: absolute;
        top: 530px;
        left: 1250px;
        /* background-color: red; */
        display: none;
    }

}
@media screen and (max-width:1349px) {
    .parent{
        width: 100%;
    }
    .trending-list{
        width: 100%;
    }
    .left-list{
        width: 90%;
    }
    .right-list{
        width: 20%;
    }
    .rightmoviename{
        width: 130px;
        margin-left: 20px;
    }
    .none2{
        position: absolute;
        left: 189px;
    }
    .none3{
        position: absolute;
        left: 364px;
    }
    .none1part1{
        position: absolute;
        left: 12px;
    }
    .none1part1l3{
      position: absolute;
      left: 12px;  
    }
}

@media screen and (max-width:1200px) {
    .left-list{
        width: 100%;
    }
    .right-list{
        width: 20%;
        display: none;
    }
    .rightmoviename{
        width: 130px;
        margin-left: 20px;
    }

    .none1{
        position: absolute;
        top: 910px;
        /* left: 214px; */
        /* display: block; */
    }
    

    .none2{
        position: absolute;
        top: 910px;
        left: 214px;
        /* display: block; */
    }
    

    .none3{
        position: absolute;
        top: 910px;
        left: 414px;
        /* display: block; */
    }
    

    .none4{
        position: absolute;
        top: 910px;
        /* left: 214px; */
        /* display: block; */
    }
    

    .none5{
        position: absolute;
        top: 910px;
        /* left: 214px; */
        /* display: block; */
    }
    .none6{
        position: absolute;
        top: 910px;
        /* left: 214px; */
        /* display: block; */
    }
    .none1part1{
        position: absolute;
        top: 1193px;
    }
    .none2part2{
        position: absolute;
        top: 1193px;
    }
    .none3part3{
        position: absolute;
        top: 1193px;
    }
    .none4part4{
        position: absolute;
        top: 1193px;
    }
    .none5part5{
        position: absolute;
        top: 1193px;
    }
    .none6part6{
        position: absolute;
        top: 1193px;
    }
    .none1part1l3{
        position: absolute;
        top: 1478px;
    }
    .none2part2l3{
        position: absolute;
        top: 1478px;
    }
    .none3part3l3{
        position: absolute;
        top: 1478px;
    }
    .none4part4l3{
        position: absolute;
        top: 1478px;
    }
    .none5part5l3{
        position: absolute;
        top: 1478px;
    }
    .none6part6l3{
        position: absolute;
        top: 1478px;
    }
    .none1part1l4{
        position: absolute;
        top: 1760px;
    }
    .none2part2l4{
        position: absolute;
        top: 1760px;
    }
    .none3part3l4{
        position: absolute;
        top: 1760px;
    }
    .none4part4l4{
        position: absolute;
        top: 1760px;
    }
    .none5part5l4{
        position: absolute;
        top: 1760px;
    }
    .none6part6l4{
        position: absolute;
        top: 1760px;
    }
}


















